<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We provide innovative automation solutions to help businesses improve efficiency and productivity.</p>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>Email: info@automation.com</li>
            <li>Phone: (123) 456-7890</li>
            <li>Address: 123 Automation Way, Tech City</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Facebook</a></li>
            <li><a href="#" class="text-white">Twitter</a></li>
            <li><a href="#" class="text-white">LinkedIn</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <p>&copy; 2024 Automation Solutions. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  